Repository Halfpr/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend-report

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Update deploybackreport.sh
  backend-report/deploybackreport.sh
Due: backend-report

Update deployback.sh
  backend/deployback.sh
Due: none

Update deployfront.sh
  frontend/deployfront.sh
Due: frontend

Update docker-compose.yml
  docker-compose.yml
Due: none

Update Dockerfile
  backend-report/Dockerfile
Due: backend-report

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Microservice
  backend-report/deploybackreport.sh
  backend/deployback.sh
Due: backend-report

Microservices
  backend-report/deploybackreport.sh
  backend-report/src/main/resources/application.properties
  backend/deployback.sh
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: backend-report

Update application.properties
  backend-report/src/main/resources/application.properties
Due: backend-report

microservices
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/src/main/resources/application.properties
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/src/main/resources/application.properties
  frontend/.gitlab-ci.yml
Due: frontend, backend-report

Ngnix
  backend/deploy.sh
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend

Update deploy.sh
  backend/deploy.sh
Due: none

8.3
  backend/deploy.sh
  backend/pom.xml
  docker-compose.yml
Due: none

Update Dockerfile
  backend/Dockerfile
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend-report: any of: backend-report/**/*
