Repository Halfpr/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend-report

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Delete .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Add new file
  backend-report/.gitlab-ci.yml
Due: backend-report

Update deploybackreport.sh
  backend-report/deploybackreport.sh
Due: backend-report

Update deployback.sh
  backend/deployback.sh
Due: none

Update deployfront.sh
  frontend/deployfront.sh
Due: frontend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update docker-compose.yml
  docker-compose.yml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend-report: any of: backend-report/**/*
